<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a
          class="nav-link"
          id="nav-home-tab"
          data-toggle="tab"
          href="/"
          role="tab"
          aria-controls="nav-home"
        >Home</a>
        <a
          class="nav-link"
          id="nav-profile-tab"
          data-toggle="tab"
          href="/dashboard"
          role="tab"
          aria-controls="nav-profile"
        >Dashboard</a>
        <a
          class="nav-link"
          id="nav-contact-tab"
          data-toggle="tab"
          href="/login"
          role="tab"
          aria-controls="nav-contact"
        >Login</a>
      </div>
    </nav>
    <br />
    {{{body}}}
    <script src="/js/logging.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/home.js"></script>
  </body>
</html>