<div class="card" style="width: 75%">
  <div class="card-body">
    <h5 class="card-title">The Way Home</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Posted by: John Rockets on Aug 26 2021
    </h6>
    <p class="card-text">
      A sample text is displayed here.
    </p>
    <a href="/comment" class="card-link comment">Comment</a>
  </div>
</div>